<section class="customers-section">
    <div class="container">
        <h2 class="customers-title">What our Customers Say</h2>
        <p class="customers-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="customers-list">
            <li class="customers-item">
                <ul class="customers-list-icon">
                    <li>
                        <svg class="customers-icon" width="17" height="16">
                            <use href="./img/icon.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                         <svg class="customers-icon" width="17" height="16">
                            <use href="./img/icon.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                         <svg class="customers-icon" width="17" height="16">
                            <use href="./img/icon.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                         <svg class="customers-icon" width="17" height="16">
                            <use href="./img/icon.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                         <svg class="customers-icon" width="17" height="16">
                            <use href="./img/icon.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="customers-subtitle">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</p>
                <div class="customers-wrapper">
                    <img
                    srcset="./img/sumith-shah-01.png 1x, ./img/sumith-shah-01-2x.png 2x"
                    src="./img/sumith-shah-01.png" alt="customer-man" class="customers-img" height="48" width="48">
                    <div class="customers-desc-wrapper">
                        <h3 class="customers-name">Sumith Shah</h3>
                        <div class="customers-wrapper">
                            <p class="customers-desc">Some Dude</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="customers-item">
                <ul class="customers-list-icon">
                    <li>
                        <svg class="customers-icon" width="17" height="16">
                            <use href="./img/icon.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="customers-icon" width="17" height="16">
                            <use href="./img/icon.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                         <svg class="customers-icon" width="17" height="16">
                            <use href="./img/icon.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="customers-icon" width="17" height="16">
                            <use href="./img/icon.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="customers-icon" width="17" height="16">
                            <use href="./img/icon.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="customers-subtitle">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>
                <div class="customers-wrapper">
                    <img
                    srcset="./img/sumith-shah-02.png 1x, ./img/sumith-shah-02-2x.png 2x"
                    src="./img/sumith-shah-02.png" alt="customer-woman" class="customers-img" height="48" width="48">
                    <div class="customers-desc-wrapper">
                        <h3 class="customers-name">Sumith Shah</h3>
                        <p class="customers-desc">Some Dude</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>