<footer class="page-footer">
  <div class="container">
    <div class="top">
      <div class="navigation">
        <a class="logo" href="">
          <img src="./img/logo.png" alt="Logo" width="66" height="52" />
        </a>
        <ul class="menu-list">
          <li class="item"><a class="link" href="">Home</a></li>
          <li class="item"><a class="link" href="">About</a></li>
          <li class="item"><a class="link" href="">Service</a></li>
          <li class="item"><a class="link" href="">Menu</a></li>
          <li class="item"><a class="link" href="">Contact</a></li>
        </ul>
      </div>

      <div>
        <form class="newsletter-form" name="newsletter-form">
          <b class="heading">Subscribe</b>
          <div class="inner">
            <label class="field">
              <input
                class="input"
                type="email"
                name=""
                placeholder="Enter your email"
              />
            </label>
            <button class="submit-button" type="submit">Subscribe</button>
          </div>
        </form>
        <p class="text">
          By subscribing you agree to with our
          <a class="privacy-link" href="">Privacy Policy</a>
        </p>
      </div>
    </div>

    <div class="legal">
      <ul class="legal-list">
        <li class="item"><a class="link" href="">Privacy Policy</a></li>
        <li class="item"><a class="link" href="">Terms of Service</a></li>
        <li class="item"><a class="link" href="">Cookies Settings</a></li>
      </ul>

      <p class="text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
