<!-- Header Vladislav Sh-->
<header class="header">
  <div class="container header-container">
    <a class="header-link" href=""
      ><img src="./img/logo.png" alt="Logo" width="66" height="52"
    /></a>

    <nav class="header-navigation">
      <ul class="header-menu">
        <li class="header-item">
          <a class="nav-link" href="#home"
            ><span class="header-nav-link">Home</span></a
          >
        </li>
        <li class="header-item"><a class="nav-link" href="#about">About</a></li>
        <li class="header-item">
          <a class="nav-link" href="#service">Service</a>
        </li>
        <li class="header-item"><a class="nav-link" href="">Menu</a></li>
        <li class="header-item"><a class="nav-link" href="">Contact</a></li>
      </ul>
    </nav>

    <button class="button" type="button">Order Now</button>
  </div>
</header>
