<div class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <button class="modal-close-button" type="button" data-close-modal>
      <svg class="icon">
        <use href="./img/icons/svg-sprite.svg#cross"></use>
      </svg>
    </button>

    <form class="modal-form">
      <b class="heading">Order Form</b>

      <label class="field">
        <span class="label">Name</span>
        <input
          class="input"
          type="text"
          name="user-name"
          placeholder="Your name"
          required
        />
      </label>

      <label class="field">
        <span class="label">Phone number</span>
        <input
          class="input"
          type="tel"
          name="user-phone"
          placeholder="+38(0_ _) _ _ _   _ _   _ _"
          required
        />
      </label>

      <label class="field">
        <span class="label">E-mail</span>
        <input
          class="input"
          type="email"
          name="user-email"
          placeholder="example@gmail.com"
          required
        />
      </label>

      <button class="button modal-button" type="submit">Send</button>
    </form>
  </div>
</div>
