.about {
  padding-top: 167px;
  padding-bottom: 124px;

  background-color: #ffe550;
}

.about-inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.about-content {
  max-width: 525px;
}

.about-thumb {
  position: relative;
  z-index: 1;
}

.about-thumb::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);

  display: inline-block;
  width: 500px;
  height: 500px;

  background-color: #fff;
  border-radius: 50%;
}

/* Features */
.feature-list {
  display: flex;
  column-gap: 67px;
  margin-bottom: 32px;
}

.feature-list > .item {
  flex-basis: calc((100% - 67px) / 2);
}

.feature-list .title {
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 1.4;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.5; /* 21px */
}
