.page-footer {
  padding: 60px 0;

  background-color: #fff;
  background-image: image-set(
    url(../img/footer-bg-mobile.png) 1x,
    url(../img/footer-bg-mobile@2x.png) 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-footer .navigation {
  display: flex;
  align-items: flex-start;
  gap: 46px;
}

.menu-list .link {
  font-size: 14px;

  color: #000;
}

/* Newsletter form */
.newsletter-form {
  margin-bottom: 24px;
}

.newsletter-form .heading {
  display: block;
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.newsletter-form .field {
  position: relative;

  display: block;
}

.newsletter-form .input {
  width: 279px;
  padding: 12px;

  background-color: #fff;
  border: 1px solid #ffe550;
  border-radius: 30px;
}

.newsletter-form .input::placeholder {
  font-size: 12px;
  line-height: 1.5;

  color: #505050;
}

.newsletter-form .submit-button {
  display: block;
  padding: 8px 22px;

  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;

  background-color: #fff;
  color: #2c2c2c;
  border: 1px solid #7eb101;
  border-radius: 30px;
}

.page-footer .text {
  font-weight: 400;
  font-size: 10px;
}

.page-footer .privacy-text {
  margin-bottom: 60px;
}

.privacy-link {
  text-decoration: underline;

  color: #7eb101;
}

.legal-list {
  display: flex;
}

.legal-list .link {
  font-size: 10px;
  text-decoration: underline;

  color: #7eb101;
}

@media only screen and (max-width: 767px) {
  .menu-list > .item:not(:last-child) {
    margin-bottom: 20px;
  }

  .newsletter-form .field {
    margin-bottom: 20px;
  }

  .page-footer .text {
    text-align: center;
  }

  .legal-list {
    justify-content: space-around;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1279px) {
  .page-footer .navigation {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .page-footer {
    background-image: image-set(
      url(../img/footer-bg-tablet.png) 1x,
      url(../img/footer-bg-tablet@2x.png) 2x
    );
  }

  .page-footer .navigation {
    align-items: center;
    gap: 114px;
  }

  .menu-list {
    display: flex;
    gap: 28px;
  }

  .menu-list .link {
    padding: 20px 0;
  }

  .newsletter-form {
    margin-bottom: 12px;
  }

  .newsletter-form .inner {
    display: flex;
    gap: 13px;
  }

  .page-footer .text {
    font-size: 12px;
  }

  .legal-list .link {
    font-size: 12px;
  }

  .page-footer .top {
    margin-bottom: 100px;
  }

  .page-footer .legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .legal-list {
    gap: 26px;
  }
}

@media only screen and (min-width: 1280px) {
  .page-footer {
    background-image: image-set(
      url(../img/footer-bg-desktop.png) 1x,
      url(../img/footer-bg-desktop.png@2x.png) 2x
    );
  }

  .page-footer .navigation {
    gap: 143px;
  }

  .page-footer .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
