/*hero*/
.hero-section {
  padding-top: 14px;
  padding-bottom: 69px;
}

.hero-title {
  color: #2c2c2c;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  width: 500px;
  margin-bottom: 28px;
}

.hero-text {
  color: #2c2c2c;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  width: 511px;
  margin-bottom: 40px;
}

.button-hero {
}

.hero-conteiner {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.img-hero {
}

.img-hero-wrap {
  border-radius: 580px;
  border: 26px solid var(--Yellow-main, #ffe550);
  background: var(--White, #fefefe);
}
